<nav class="nav-menu">
  <div class="nav-header">
    <h2>MEMPHIS</h2>
  </div>
  <ul class="nav-list">
    <li class="nav-item active">
      <a href="#" class="nav-link">
        <i class="fas fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fas fa-shield-alt"></i>
        <span>Safety</span>
        <i class="fas fa-chevron-right chevron"></i>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fas fa-compass"></i>
        <span>Navigation</span>
        <i class="fas fa-chevron-right chevron"></i>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fas fa-database"></i>
        <span>MDM</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fas fa-cog"></i>
        <span>Administration</span>
        <i class="fas fa-chevron-right chevron"></i>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fas fa-user"></i>
        <span>Accounts</span>
        <i class="fas fa-chevron-right chevron"></i>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fas fa-file-alt"></i>
        <span>Report</span>
        <i class="fas fa-chevron-right chevron"></i>
      </a>
    </li>
  </ul>
</nav>
